{% extends 'Web/home.html' %}
{% block head %}
    <title>Registrar Nuevas Competencias</title>
{% endblock %}
{% block body %}
{% with client=var %}
    {{ block.super }}
{% endwith %}

{% endblock %}
 {% block pages %}
  <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    </div>
</nav>

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Registro</div>
                        <div class="card-body">
                            <form action="/Web/saveCompetencia/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="nombre" class="col-md-4 col-form-label text-md-right">Nombre</label>
                                    <div class="col-md-6">
                                        <input type="text" id="nombre" class="form-control" name="nombre"  autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="tipo" class="col-md-4 col-form-label text-md-right">Tipo</label>
                                    <div class="col-md-6">
                                        <input type="text" id="tipo" class="form-control" name="tipo"  autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fecha" class="col-md-4 col-form-label text-md-right">Año</label>
                                    <div class="col-md-6">
                                        <input type="number" id="fecha" class="form-control" name="fecha"  autocomplete="off" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="pais" class="col-md-4 col-form-label text-md-right" >Pais</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="pais" required >
                                            {% for Pais in Pais %}
                                                <option value="{{ Pais.id }}">{{ Pais.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">


                                {% if error %}
                                    <br>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <small id="passwordHelp" class="text-danger">
                                              Ya existe esta competicion
                                            </small>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if exito %}
                                    <br>
                                    <div class="alert alert-success" role="alert">
                                          <strong>Exitosamente !</strong> Se ha agregado una nueva Competicion
                                    </div>
                                {% endif %}

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>

    {% endblock pages %}