{% extends 'Web/home.html' %}
{% block head %}
    <title>Competencias Ganadas</title>
{% endblock %}
{% block body %}
{% with client=var %}
    {{ block.super }}
{% endwith %}

{% endblock %}
 {% block pages %}
     <form action="/Web/competenciasGanandas/" method="post" >
         {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <form class="card card-sm">
                                        <div class="card-body row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <i class="fas fa-search h4 text-body"></i>
                                            </div>
                                            <!--end of col-->
                                            <div class="form-group row">
                                                <label for="equipo" class="col-md-4 col-form-label text-md-right" >Equipo</label>
                                                <div class="col-md-6">
                                                    <select class="form-control" name="equipo" required >
                                                        {% for Equipo in Equipo %}
                                                            <option value="{{ Equipo.Nombre }}">{{ Equipo.Nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!--end of col-->
                                            <div class="col-auto">
                                                <button class="btn btn-lg btn-success" type="submit">Buscar</button>
                                            </div>
                                            <!--end of col-->
                                        </div>
                                    </form>
                                <!--end of col-->
                            </div>
            </div>
     </form>
     {% if error %}
         <div class="alert alert-danger">
              <strong>ERROR </strong> No se encontro ningun Equipo con ese nombre
         </div>
     {% endif %}
     {% if buscando %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <h4>Equipo</h4>
                    <div class="table-responsive">
                          <table id="mytable" class="table table-bordred table-striped">
                               <thead>
                               <th>Nombre</th>
                                <th>Cantidad</th>
                               </thead>
                                <tbody>
                                {% for Data in Data %}
                                     <tr>
                                     <td>{{ Data.0 }}</td>
                                     <td>{{ Data.1 }}</td>
                                    </tr>
                             {% endfor %}
         </tbody>
        </table>
     {% endif %}
 {% endblock pages %}