{% extends 'base.html' %}
{% block head %}
    <title>Error</title>
{%  endblock %}
{% block body %}
    <center>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Lo sentimos a ocurrido un error, lo mas probable es que no tengas permiso para ver esta pagina
                </div>
                <div class="error-actions">

                </div>
            </div>
        </div>
    </div>
</div>
</center>
{% endblock %}
