{% extends 'Web/home.html' %}
{% block head %}
    <title>Usuarios Suscritos</title>
{% endblock %}
{% block body %}
{% with client=var %}
    {{ block.super }}
{% endwith %}

{% endblock %}
 {% block pages %}
     <form action="/Web/usuariosSuscritos/" method="post" >
         {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <form class="card card-sm">
                                        <div class="card-body row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <i class="fas fa-search h4 text-body"></i>
                                            </div>
                                            <!--end of col-->
                                            <div class="form-group row">
                                                <label for="equipo" class="col-md-4 col-form-label text-md-right" >Equipo</label>
                                                <div class="col-md-6">
                                                    <select class="form-control" name="equipo" required >
                                                        {% for Equipo in Equipo %}
                                                            <option value="{{ Equipo.id }}">{{ Equipo.Nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!--end of col-->
                                            <div class="col-auto">
                                                <button class="btn btn-lg btn-success" type="submit">Buscar</button>
                                            </div>
                                            <!--end of col-->
                                        </div>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
            </div>
     </form>
     {% if error %}
         <div class="alert alert-danger">
              <strong>ERROR </strong> No se encontro ningun Equipo con ese nombre
         </div>
     {% endif %}
     {% if buscando %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <h4>Usuarios</h4>
                    <div class="table-responsive">
                          <table id="mytable" class="table table-bordred table-striped">
                               <thead>
                               <th>Nombre</th>
                                <th>Apellido</th>
                               <th>Usuario</th>
                               <th>Imagen</th>
                               </thead>
                                <tbody>
                                {% for Seguir in Seguir %}
                                 {% if not Seguir.Usuario.Nombre == ""  %}
                                     <tr>
                                     <td>{{ Seguir.Usuario.Nombre }}</td>
                                    <td>{{ Seguir.Usuario.Apellido }}</td>
                                     <td>{{  Seguir.Usuario.Usuario }}</td>
                                     <td><img src="{{ Seguir.Usuario.Imagen.url }}" width="100" height="100" class="img-thumbnail"> </td>
                                    </tr>
                                 {% endif %}
                             {% endfor %}
         {% for Jugador in Jugador %}
             {% if not Jugador.Nombre == ""  %}
                 <tr>
                 <td>{{ Jugador.Nombre }}</td>
                <td>Jugador</td>
                <td>{{ Jugador.Posicion }}</td>
                  <td>{{ Jugador.Pais.nombre }}</td>
                 <td>{{ Jugador.age }}</td>
                 <td>{{  Jugador.Equipo.Nombre }}</td>
                </tr>
             {% endif %}
         {% endfor %}


         </tbody>
        </table>
 <form action="/Web/usuariosSuscritosPDF/" method="post" >
            {% csrf_token %}
              <input type="hidden" name="pdfId" value="{{ EquipoId }}">
            <button type="submit" class="btn btn-outline-light">PDF</button>
 </form>
     {% endif %}
 {% endblock pages %}