{% extends 'Web/home.html' %}
{% block head %}
    <title>Bitacora</title>
{% endblock %}
{% block body %}
{% with client=var %}
    {{ block.super }}
{% endwith %}

{% endblock %}
 {% block pages %}
            <div class="container">
                <div class="row">
                <br>
                    <div class="col-md-12">
                    <br>
                    <h4>{{ Jugador.Nombre }}</h4>
                    <div class="table-responsive">
                          <table id="mytable" class="table table-bordred table-striped">
                               <thead>
                               <th>Equipo</th>
                                <th>Fecha Inicio</th>
                               <th>Fecha Fin</th>
                               </thead>
                                <tbody>
         {% for Bitacora in Bitacora %}
             {% if not Bitacora.Nombre == ""  %}
                 <tr>
                 <td>{{ Bitacora.Equipo.Nombre }}</td>
                 <td>{{ Bitacora.Fecha_inicio|date:"Y-m-d" }}</td>
                 <td>{{ Bitacora.Fecha_fin|date:"Y-m-d" }}</td>
                </tr>
             {% endif %}
         {% endfor %}
         </tbody>
        </table>
 {% endblock pages %}