{% extends 'Web/home.html' %}
{% block head %}
    <title>{{ searchEstadio.Nombre }}</title>
{% endblock %}
{% block body %}
{% with client=var %}
    {{ block.super }}
{% endwith %}

{% endblock %}
 {% block pages %}
     <br>
    <form action="/Web/editEstadio/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
         <div class="d-flex justify-content-center">
            <div class="card" style="width: 30rem;">
                <center>
                    <img src="{{ searchEstadio.Foto.url }}" class="img-thumbnail">
                </center>
                <div class="card-body">
                    <div class="form-group row">
                                    <label for="nombre" class="col-md-4 col-form-label text-md-right">Nombre</label>
                                    <div class="col-md-6">
                                        <input type="text" id="nombre" class="form-control" name="nombre"  autocomplete="off" value="{{ searchEstadio.Nombre }}">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="cantidad" class="col-md-4 col-form-label text-md-right">Asientos</label>
                                    <div class="col-md-6">
                                        <input type="number" id="cantidad" class="form-control" name="cantidad" autocomplete="off" value="{{ searchEstadio.cantidad }}" >
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="direccion" class="col-md-4 col-form-label text-md-right" >Direccion</label>
                                    <div class="col-md-6">
                                        <input type="text" id="direccion" class="form-control"  name="direccion" autocomplete="off" value="{{ searchEstadio.Direccion }}">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="estado" class="col-md-4 col-form-label text-md-right" >Estado</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="estado"  >
                                            {% if searchEstadio.Estado == "Activo" %}
                                                <option selected value="Activo">Activo</option>
                                            {% else %}
                                                <option value="Activo">Activo</option>
                                            {% endif %}

                                            {% if searchEstadio.Estado == "Inactivo" %}
                                                <option value="Inactivo" selected>Inactivo</option>
                                            {% else %}
                                                <option value="Inactivo">Inactivo</option>
                                            {% endif %}

                                            {% if searchEstadio.Estado == "Remodelacion" %}
                                                <option value="Remodelacion" selected>Remodelacion</option>
                                            {% else %}
                                                <option value="Remodelacion">Remodelacion</option>
                                            {% endif %}



                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="Fecha" class="col-md-4 col-form-label text-md-right" >Fecha Inauguración</label>
                                    <div class="col-md-6">
                                        <input type="date" id="Fecha" name="Fecha" class="form-control" value="{{ searchEstadio.Fecha|date:"Y-m-d" }}" >
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="pais" class="col-md-4 col-form-label text-md-right" >Pais</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="pais"  >
                                            {% for Pais in Pais %}
                                                {% if Pais == searchEstadio.Pais %}
                                                    <option selected value="{{ Pais.id }}">{{ Pais.nombre }}</option>
                                                {% else %}
                                                    <option value="{{ Pais.id }}">{{ Pais.nombre }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                   <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                      </div>
                                      <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="imagen" id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Subir Archivo</label>
                                      </div>
                                    </div>
                                </div>
                <ul class="list-group list-group-flush">
                    <input type="hidden" name="id" value="{{ searchEstadio.id }}">
                </ul>
                <div class="card-body">
                    <button type="submit" name="eliminarEstadio"  class="btn btn-danger">Eliminar</button>
                    <button type="submit" name="actualizarEstadio" class="btn btn-success">Actualizar</button>
                </div>
            </div>
         </div>
         </div>
    </form>


     {% if editado %}
        <br>
         <div class="alert alert-success" role="alert">
             <strong>Exitosamente !</strong> Se han actualizado los datos del equipo
         </div>
     {% endif %}
    {% endblock pages %}