{% extends 'base.html' %}
{% block head %}
    <title>Verificar Email</title>
{% endblock %}
{% block body %}
<div class="qlt-confirmation">
  	<div class="panel panel-default">
      <div class="panel-body">
        <center>
        <img src="https://cdn4.iconfinder.com/data/icons/social-communication/142/open_mail_letter-512.png" style="width:30px; height: 30px;">
          <p class="desc">Gracias por crear tu cuenta!<br>Enviaremos un correo a tu email para verificar tu cuenta.
              <br>Si no verificas tu cuenta no podras iniciar sesion.
          </p>
        </center>

      </div>
	</div>
</div>
{% endblock %}