{% extends 'Web/home.html' %}
{% block head %}
    <title>{{ searchPais.nombre }}</title>
{% endblock %}
{% block body %}
{% with client=var %}
    {{ block.super }}
{% endwith %}

{% endblock %}
 {% block pages %}
     <br>
    <form action="/Web/editPais/" method="post">
    {% csrf_token %}
         <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ searchPais.nombre }}</h5>
                    <input type="text" name="pais" value="{{ searchPais.nombre }}">
                </div>
                    <ul class="list-group list-group-flush">
                        <input type="hidden" name="id" value="{{ searchPais.id }}">
                    <li class="list-group-item">Id: {{ searchPais.id }}</li>
                 </ul>
                <div class="card-body">
                    <button type="submit" name="eliminarPais"  class="btn btn-danger">Eliminar</button>
                    <button type="submit" name="ActualizarPais" class="btn btn-success">Actualizar</button>
                 </div>
                <div class="card-body">
                 </div>
            </div>
         </div>
    </form>
     {% if editado %}
        <br>
         <div class="alert alert-success" role="alert">
             <strong>Exitosamente !</strong> Se han actualizado tus datos
         </div>
     {% endif %}
    {% endblock pages %}